body {
  line-height: 1.5;
  margin: 0px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: rgb(202, 204, 206);
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1em;
}
header {
  line-height: 1em;
  margin:auto;
}
p {
  font-size:  1em;
}
main {
  margin-bottom: 1em;
}
footer {
}
.boldnam {
    color: black; /*turns current page nav link black*/
}
.nav .name {
    display:  block;
    margin-right:  auto;
    color: white;
}
.main-nav {
  width:  auto;
  background: blue;
  min-height: 3px;
  padding: 2px;
  position:  relative;
  text-align: center;
}
.nav {
  display: flex;
  justify-content:  flex-end;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.goals {
  font-size: 1.5em;
  color: blue;
  text-align: center;
  margin: 10px;
}
.center {
  margin:  auto;
  text-align: center;
}
.container {
  display: inline-flex; justify-content: center;
  width: 100%;

  /*height: 55%;*/
  background: #eee;
  margin: 5px;
  background-size: cover;
  background-position:  center;
  min-height: auto;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  /*border: 2px solid blue;*/
  overflow: visible;
  /*padding-top: 5px;
  padding-bottom: 5px;*/
  /*border-radius:0%;*/
}
.block {

  background: lightblue;
  height:95%;
  width: auto;
margin-left: 10px;
margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid blue;
  padding-left: 10px;
  padding-right: 10px;
}
#mystory-block {
  background: lightblue;
  font-family:sans-serif;
  height: auto;
  width: 80%;
  margin: 5px;
  padding: inherit;
  border: 3px solid blue;
  }
a {
  text-decoration:  underline;
  color:white;
}
.nav li {
  padding: 10px 10px 10px 20px;
}
.nav a{
  transition: all .5s;
}
.nav a:hover {
  color: white;
}
.header-font1 {
  font-weight: normal;
  font-size: 5em;
  color: rgb(255,255, 255);(50, 100%, 50%, 0.3);
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.header-font2 {
  font-weight: normal;
  font-size: 3em;
  color: rgb(255,255, 255);(50, 100%, 50%, 0.3);
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.header-font3 {
  font-weight: normal;
  font-size: 3em;
  color: rgb(255,255, 255);(50, 100%, 50%, 0.3);
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.header-font4 {
  color: blue;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.header-pic {
  background-size: contain;
  background-position:  center;
  min-height: 250px;
  margin-left: 0px;
  margin-right: 0px;
  border: 2px solid blue;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 10px;
  border-radius:0%;
}
.header-pic-hmpg {

  background-image:  url('GC4.Mar8.17.jpg');

}
.header-pic-exp {

  background-image: url('GC.P4.2016.jpg');

}
.header-pic-contact {

  background-image: url('StandingProud.P4.jpg');

}
.header-pic-proj {
  background-image: url('808-HDR.jpg');

}
.profile-pic {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  width: 75px;
  height: 75px;
  border-radius: 10%;
  border: 3px solid blue;
  transition: all .1s;
}
.goals-text {
  text-align: center;
  margin-left: 10px;
  margin-right: 5px;
  padding: 0px;
}
#mystory-text {
  text-align:left;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}
#pictur-text {
  text-align:left;
  margin: 0px;
  padding: 0px;
}
#pictureboxes {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.profile-pic:hover {

   transform: scale(6) rotate(-360deg);
}
.profile-pic2:hover {
   transform: scale(6) rotate(360deg);
}
.profile-pic3:hover {
   transform: scale(6) rotate(360deg)
}
